<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
    <title>Edit Profile</title>
</head>

<body>
<div id="booking" class="section">
    <div class="section-center">
        <div class="container">
            <div class="row">
                <div class="booking-form">
                    <div class="form-header">
                        <h1>Edit Profile</h1>
                    </div>
                    <form>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="labela">FirstName</label>
                                    <input class="form-control" type="text" required>
                                    <span class="form-label"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="labela">LastName</label>
                                    <input class="form-control" type="text" required>
                                    <span class="form-label"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="labela">Email</label>
                                    <input class="form-control" type="email" required>
                                    <span class="form-label"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="labela">Phone no</label>
                                    <input class="form-control" type="text" required>
                                    <span class="form-label"></span>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="labela">Date of birth</label>
                                    <input class="form-control" type="date" required>

                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="labela">Username</label>
                                    <input class="form-control" type="text" required>
                                    <span class="form-label"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-btn">
                            <button class="submit-btn">Save Changes</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="js/jquery.min.js"></script>
<script>
    $('.form-control').each(function () {
        floatedLabel($(this));
    });

    $('.form-control').on('input', function () {
        floatedLabel($(this));
    });

    function floatedLabel(input) {
        var $field = input.closest('.form-group');
        if (input.val()) {
            $field.addClass('input-not-empty');
        } else {
            $field.removeClass('input-not-empty');
        }
    }
</script>

</body>

</html>